{% extends "layout.html" %}
    
{% block content %}
<h1>Actividad</h1>

<div>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Placa</th>
            <th>Vehiculo</th>
            <th>Usuario</th>
            <th>Nombres</th>
            <th>Ubicación</th>
            <th>Notas</th>
        </tr>
        </thead>

       {% for row in records %}
        <tr>
            <td>{{row.rec_id}}</td>
            <td>{{row.rec_dat}}</td>
            <td>{{row.rec_veh_pla}}</td>
            <td>{{row.rec_veh_mix}}</td>
            <td>{{row.rec_usr_id}}</td>
            <td>{{row.rec_veh_loc}}</td>
            <td>{{row.rec_veh_des}}</td>
            <td>
                <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.rec_id}}">Editar</a>
                <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Seguro que desea anular?')">Anular</a>
            </td>
        </tr>
        <!-- Modal edit record-->
        <div id="modaledit{{row.rec_id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Actualizar información</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('update')}}" method="POST">
                            <div class="form-group">
                                <label>Name:</label>
                                    <input type="hidden"  name="id" value="{{row.id}}">
                                    <input type="text" class="form-control" name="name" value="{{row.name}}">
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                    <input type="text" class="form-control" name="email" value="{{row.email}}">
                            </div>
                            <div class="form-group">
                                <label>Phone:</label>
                                    <input type="text" class="form-control" name="phone" value="{{row.phone}}">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>
{% endblock %}
        <!-- Modal Add Employee
        <div id="mymodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Employee</h4>
                    </div>
            <div class="modal-body">
                <form action="{{url_for('insert')}}" method="POST">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" required="1">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="email" required="1">
                    </div>
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="number" class="form-control" name="phone" required="1">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add Employee</button>
                    </div>
                </form>     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
</div>-->
