{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Bienvenido a su gestor de flota vehicular</h1>

            <div style="text-align:left;">
                <h2>Que es Adminauto?</h2> 
                
                <p>Es un sistema que le permite administrar su 
                    flota vehicular a fin de llevar registro del 
                    movimiento de los autos, usuarios, destinos y además 
                    los mantenimientos efectuados. 
                </p>
                <br>
                <p>Registre datos importantes como el vencimiento del 
                    SOAT, inspección técnica, seguros y próximos servicios 
                    a realizar. 
                </p>

            </div>

        </div>
    </div>
{% endblock %}