{% extends "layout.html" %}
    
{% block content %}
<script type="text/javascript" language="javascript">
    $(document).ready(function(){
        var dataTable = $('#sample_data').DataTable();     
    }); 
    function del(ID, title){
        if (confirm("Are you sure you want to delete '" + title + "'")){
            window.location.href = '/delete/' + ID;
        }
    }
    </script>

<h3>Movimiento de vehículos <button type="button"  class="btn btn-success float-right"
    data-toggle="modal" data-target="#mymodal">Agregar movimiento</button>
</h3>

<div class="panel panel-default">
    <table id="sample_data" class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
            <th scope="col">Placa</th>
            <th scope="col">Marca/Modelo</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre/Apellido</th>
            <th scope="col">Ubicación</th>
        </tr>
        </thead>
        <tbody>

        <!-- Construct the rest of records here -->
        {% for data in recordTable %}
        <tr>
            <td data-pk="{{ data.rec_id }}" scope='row'>{{ data.rec_id }}</td>
            <td data-name="Id" data-type="text" data-pk="{{ data.rec_id }}">{{ data.rec_id }}</td>
            <td data-name="Fecha" data-type="date" data-pk="{{ data.rec_dat }}">{{ data.rec_dat }}</td>
            <td data-name="Placa" data-type="text" data-pk="{{  data.rec_veh_pla }}">{{ data.rec_veh_pla }}</td>
            <td data-name="Marca_Modelo" data-type="text" data-pk="{{  data.rec_veh_mix }}">{{ data.rec_veh_mix }}</td>
            <td data-name="Usuario" data-type="text" data-pk="{{  data.rec_usr_id }}">{{ data.rec_usr_id }}</td>
            <td data-name="Nombre_Apellido" data-type="text" data-pk="{{  data.rec_usr_mix }}">{{ data.rec_usr_mix }}</td>
            <td data-pk="{{ data.rec_id }}"> 
                <a href="/api/update/{{data.rec_id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{data.veh_lic_pla}}">Editar</a>
                <a href="/api/delete/{{data.rec_id}}" class="btn btn-danger btn-xs" onclick="return confirm('Seguro que desea borrar?')">Borrar</a>
            </td>
        </tr>
        <!-- Modal Edit Record-->
        <div id="modaledit{{data.rec_id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Actualizar información</h4>
                    </div>
        
                    <div class="modal-body">
                        <form action="{{url_for('listado')}}" method="POST">
                            <div class="form-group">
                                <label>Placa:</label>
                                <input type="hidden"  name="veh_lic_pla" value="{{data.veh_lic_pla}}">
                                <input type="text" class="form-control" name="ve_lic_pla" value="{{data.veh_lic_pla}}">
                            </div>
                            <div class="form-group">
                                <label>Uso:</label>
                                <input type="text" class="form-control" name="veh_usg" value="{{data.veh_usg}}">
                            </div>
                            <div class="form-group">
                                <label>Marca:</label>
                                <input type="text" class="form-control" name="veh_mar" value="{{data.veh_mar}}">
                            </div>
                            <div class="form-group">
                                <label>Modelo:</label>
                                <input type="text" class="form-control" name="veh_mod" value="{{data.veh_mod}}">
                            </div>
                            <div class="form-group">
                                <label>Año:</label>
                                <input type="text" class="form-control" name="veh_yea" value="{{data.veh_yea}}">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Actualizar</button>
                            </div>
                        </form>
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        
        </tbody>
    </table>
<!-- Modal for add vehicle -->

    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar vehículo</h4>
                </div>
                
                <div class="modal-body">
                    <form action="{{url_for('listado')}}" method="POST">
                        <div class="form-group">
                            <label>Placa        :</label>
                            <input type="text" class="form-control" name="veh_lic_pla" required="1">
                        </div>
                        <div class="form-group">
                            <label>Uso          :</label>
                            <input type="text" class="form-control" name="veh_usg" required="1">
                        </div>
                        <div class="form-group">
                            <label>Marca        :</label>
                            <input type="text" class="form-control" name="veh_mar" required="1">
                        </div>
                        <div class="form-group">
                            <label>Modelo       :</label>
                            <input type="text" class="form-control" name="veh_mod" required="1">
                        </div>
                        <div class="form-group">
                            <label>Año          :</label>
                            <input type="text" class="form-control" name="veh_yea" required="1">
                        </div>
                        <div class="form-group">
                            <label>Color        :</label>
                            <input type="text" class="form-control" name="veh_col" required="1">
                        </div>
                        <div class="form-group">
                            <label>Propietario  :</label>
                            <input type="text" class="form-control" name="veh_prop_snp" required="1">
                        </div>
                        <div class="form-group">
                            <label>Usuario      :</label>
                            <input type="text" class="form-control" name="veh_usr_id" required="1">
                        </div>
                        <div class="form-group">
                            <label>Tiene GPS?   :</label>
                            <input type="text" class="form-control" name="veh_gps" required="1">
                        </div>
                        <div class="form-group">
                            <label>Ultima revision técnica:</label>
                            <input type="date" class="form-control" name="veh_rev_tec" required="1">
                        </div>
                        <div class="form-group">
                            <label>Ultima pago de SOAT:</label>
                            <input type="date" class="form-control" name="veh_soa_seg" required="1">
                        </div>
                        <div class="form-group">
                            <label>Contratante de seguro:</label>
                            <input type="text" class="form-control" name="veh_seg_ctr" required="1">
                        </div>
                        <div class="form-group">
                            <label>Broker del seguro:</label>
                            <input type="text" class="form-control" name="veh_seg_bro" required="1">
                        </div>
                        <div class="form-group">
                            <label>Número del seguro:</label>
                            <input type="text" class="form-control" name="veh_seg_nro" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Agregar vehículo</button>
                        </div>
                    </form>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- End modal add vehicle -->

</div>

{% endblock %}