{% extends "layout.html" %}
    
{% block content %}
<script type="text/javascript" language="javascript">
    $(document).ready(function(){
        var dataTable = $('#sample_data').DataTable();     
    }); 
    function del(ID, title){
        if (confirm("Are you sure you want to delete '" + title + "'")){
            window.location.href = '/delete/' + ID;
        }
    }
    </script>

<h3>Movimiento de vehículos <button type="button"  class="btn btn-success float-right"
    data-toggle="modal" data-target="#mymodal">Agregar movimiento</button>
</h3>

<div class="panel panel-default">
    <table id="sample_data" class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
            <th scope="col">Placa</th>
            <th scope="col">Marca/Modelo</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre/Apellido</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>

        <!-- Construct the rest of records here -->
        {% for data in recordsTable %}
        <tr>
            <td data-pk="{{ data.rec_id }}" scope='row'>{{ data.rec_id }}</td>
            <td data-name="Fecha" data-type="date" data-pk="{{ data.rec_dat }}">{{ data.rec_dat }}</td>
            <td data-name="Placa" data-type="text" data-pk="{{  data.rec_veh_pla }}">{{ data.rec_veh_pla }}</td>
            <td data-name="Marca_Modelo" data-type="text" data-pk="{{  data.rec_veh_mix }}">{{ data.rec_veh_mix }}</td>
            <td data-name="Usuario" data-type="text" data-pk="{{  data.rec_usr_id }}">{{ data.rec_usr_id }}</td>
            <td data-name="Nombre_Apellido" data-type="text" data-pk="{{  data.rec_usr_mix }}">{{ data.rec_usr_mix }}</td>
            <td data-name="Ubicacion" data-type="text" data-pk="{{  data.rec_veh_loc }}">{{ data.rec_veh_loc }}</td>
            <td data-pk="{{ data.rec_id }}"> 
                <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{data.rec_id}}">Editar</a>
                <a href="/apideactivaterecord/{{data.rec_id}}/" class="btn btn-danger btn-xs" onclick="return confirm('Seguro que desea borrar?')">Borrar</a>
            </td>
        </tr>
        <!-- Modal Edit Record-->
        <div id="modaledit{{data.rec_id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Actualizar información</h4>
                    </div>
        
                    <div class="modal-body">
                        <form action="{{url_for('apieditrecord')}}" method="POST">
                            <div class="form-group">
                                <label>Id: {{data.rec_id}}</label>
                                <input type="hidden" class="form-control" name="rec_id" value="{{data.rec_id}}">
                            </div>
                            <div class="form-group">
                                <label>Fecha de registro:</label>
                                <input type="date" class="form-control" name="rec_dat" value="{{data.rec_dat}}">
                            </div>
                            <div class="form-group">
                                <label>Placa:</label>
                                <input type="text" class="form-control" name="rec_veh_pla" value="{{data.rec_veh_pla}}">
                            </div>
                            <div class="form-group">
                                <label>Usuario:</label>
                                <input type="text" class="form-control" name="rec_usr_id" value="{{data.rec_usr_id}}">
                            </div>
                            <div class="form-group">
                                <label>Ubicación:</label>
                                <input type="text" class="form-control" name="rec_veh_loc" value="{{data.rec_veh_loc}}">
                            </div>
                            <div class="form-group">
                                <label>Notas:</label>
                                <input type="text" class="form-control" name="rec_veh_des" value="{{data.rec_veh_des}}">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Actualizar</button>
                            </div>
                        </form>
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        
        </tbody>
    </table>
<!-- Modal for add vehicle -->

    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar vehículo</h4>
                </div>
                
                <div class="modal-body">
                    <form action="{{url_for('apiaddrecord')}}" method="POST">
                        <div class="form-group">
                            <label>Fecha de registro:</label>
                            <input type="date" class="form-control" name="rec_dat" required="1">
                        </div>
                        <div class="form-group">
                            <label>Placa:</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="rec_veh_pla" required="1">
                        </div>
                        <div class="form-group">
                            <label>Usuario:</label>
                            <input type="text" class="form-control" name="rec_usr_id" required="1">
                        </div>
                        <div class="form-group">
                            <label>Ubicación:</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="rec_veh_loc" required="1">
                        </div>
                        <div class="form-group">
                            <label>Notas:</label>
                            <input type="text" class="form-control" style="text-transform: uppercase;" name="rec_veh_des">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Agregar movimiento</button>
                        </div>
                    </form>
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- End modal add vehicle -->

</div>

{% endblock %}